#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: solid; color: black;
  box-shadow: 0 12px 20px #C4DFE6;
  background-color: #C4DFE6;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: cneter;
  background-color: #66A5AD;
}

